@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Datatable CDN Link -->
@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    }

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
